.hero {
    color: #fff;
    background-color: $navy;
    background-image: url('../../../assets/person-transparent-bkground.png');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 90vh;
}